$body-color: #ffffff;
$main-font: "Inter", sans-serif;
$main-color: #27374d;
$secondary-color: #9db2bf;
$white: #ffffff;
$auth-background-color: #dde6ed;
$background-color: #b7b7b7;
$card-background-color: #d9d9d9;
$box-shadow-color: rgba(0, 0, 0, 0.25);

$facebook-color: #4172b8;
$youtube-color: #f00;
$google-color: #f00;
$instagram-color: #e4405f;
$twitter-color: #1da1f2;
$linkedin-color: #0a66c2;
$telegram-color: #28a7e9;

$text-color: #000;
$black-color: #000;
$small-font-size: 12px;
$light-black: #00000014;

.secondary {
    color: $secondary-color;
}
